// ================    RESET  ==========================
@import "global/colors";
@import "global/shadow";

@import "components/button";
@import "components/card";
@import "components/header";
@import "components/signup";


// ====== RESET ===== 
body {
  margin: 0;

  a {
    text-decoration: none;
    color: inherit;
  }

  h3,
  h1,
  p,
  header {
    margin: 0
  }
}
