// ================    RESET  ==========================

// ================  VARIABLES =========================

$primary:#8e44ad;
$success: #2ecc71;
$alert: #e67e22;
$danger: #e74c3c;

// ================  BUTTONS =========================

// DEFAULT 16px
// REM /// 16px
// EM // font-size de l'element

@mixin btn-size($n) {
  font-size: 12px + (4px * $n);
}

@mixin btn-color($hexCode) {
  background-color: $hexCode;
  color: white;

  &:hover {
    background-color: lighten($hexCode, 8%);
  }
}

// SHADOW 
@for $i from 1 through 5 {
  .shadow-#{$i} {
    box-shadow: $i*2px $i*4px $i*4px lighten(black, 80%);
  }
}



button {
  padding: 0.125em 0.75em;
  border: none;
  border-radius: 5px;
  background-color: inherit;
  transition: background-color ease-in-out 0.4s;
  @extend .xs;
  @extend .shadow-1;

  &:focus {
    // outline: solid 1px blueviolet;
    outline: none
  }

  &.primary {
    @include btn-color($primary);
  }

  &.success {
    @include btn-color($success);
  }

  &.alert {
    @include btn-color($alert);
  }

  &.danger {
    @include btn-color($danger);
  }

  &.secondary {
    color: $primary;
    border: solid 1px $primary;

    &:hover {
      background-color: $primary;
      color: white
    }
  }

  // BTN SIZE
  &.xs {
    @include btn-size(1);
  }

  &.sm {
    @include btn-size(2);
  }

  &.xl {
    @include btn-size(3);
  }

  &.xxl {
    @include btn-size(4);
  }

  &.xxxl {
    @include btn-size(5);
  }

}
